<ion-view view-title="{{ 'Options' | translate }}">
  <ion-content>
    <ion-list>
        <ion-toggle ng-model="settings.enableFriends">
            <p translate="Notifications">Notificacions</p>
        </ion-toggle>
        <button ng-click="showConfirm()" class="button button-royal">
          <i class="icon ion-power"></i> <span translate="Reset_Followings">Reseteja seguiments!</span>
        </button>
        <p translate="language">Language</p>
        <button class="button button-dark" ng-click="ChangeLanguage('catala')">català</button>
        <button class="button button-dark" ng-click="ChangeLanguage('castellano')">castellano</button>
        <button class="button button-dark" ng-click="ChangeLanguage('esperanto')">esperanto</button>

        <hr>
        <p style="background: gray;">
          <h4 translate="Assembly_zone">Zona assemblees</h4>
          <button ng-show="!storageAssemblyName" ng-click="showLogin()" class="button button-balanced">
            <i class="icon ion-log-in"></i> <span translate="Login">Login</span>
          </button>
          <button ng-show="storageAssemblyName" ng-click="doLogout()" class="button button-assertive">
            <i class="icon ion-log-out"></i> <span translate="Logout">Logout</span>
          </button>
          <button ng-show="storageAssemblyName" ng-click="showModalNewEviction()" class="button button-balanced">
            <i class="icon ion-plus"></i> <span translate="New_Eviction">New Eviction</span>
          </button>
        </p>
    </ion-list>
  </ion-content>
</ion-view>
